//Colors

$blue: #0099ff;
$dark-blue: #003d66;
$yellow: #ffcc66;
$orange: #ff9966;
$white: #fff;
$purple: #b266ff;
$dark-purple: #7200e6;

$primary: $blue;
$secondary: $yellow;

$helvetica: Helvetica, Arial, sanas-serif;
